{% extends 'base.html' %}

{% block title %} home.html {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<center>
    <h1>ℍ𝕒𝕣𝕣𝕪 ℙ𝕠𝕥𝕥𝕖𝕣</h1><p>
    <h6>𝔥𝔬𝔤𝔴𝔞𝔯𝔱𝔰 𝔰𝔠𝔥𝔬𝔬𝔩 𝔬𝔣 𝔴𝔦𝔱𝔠𝔥𝔠𝔯𝔞𝔣𝔱 𝔞𝔫𝔡 𝔴𝔦𝔷𝔞𝔯𝔡𝔯𝔶</h6><br>
    <p>𝚆𝚎’𝚟𝚎 𝚊𝚕𝚕 𝚐𝚘𝚝 𝚋𝚘𝚝𝚑 𝚕𝚒𝚐𝚑𝚝 𝚊𝚗𝚍 𝚍𝚊𝚛𝚔𝚗𝚎𝚜𝚜 𝚒𝚗𝚜𝚒𝚍𝚎 𝚞𝚜.<br>
        𝚆𝚑𝚊𝚝 𝚖𝚊𝚝𝚝𝚎𝚛𝚜 𝚒𝚜 𝚝𝚑𝚎 𝚙𝚊𝚛𝚝 𝚠𝚎 𝚌𝚑𝚘𝚘𝚜𝚎 𝚝𝚘 𝚊𝚌𝚝 𝚘𝚗.<br>
        𝚃𝚑𝚊𝚝’𝚜 𝚠𝚑𝚘 𝚠𝚎 𝚛𝚎𝚊𝚕𝚕𝚢 𝚊𝚛𝚎<p>
    - 𝚂𝚒𝚛𝚒𝚞𝚜 𝙱𝚕𝚊𝚌𝚔, 𝙷𝚊𝚛𝚛𝚢 𝙿𝚘𝚝𝚝𝚎𝚛 𝚊𝚗𝚍 𝚝𝚑𝚎 𝙾𝚛𝚍𝚎𝚛 𝚘𝚏 𝚝𝚑𝚎 𝙿𝚑𝚘𝚎𝚗𝚒𝚡 -</p>
</center>
{% endblock %}