{% extends 'polls/base.html' %}
{% block content %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
    {% endfor %}
    </ul>
<br><br><br><br><br>
<br><br><br><br><br>
<center>
    <h1>𝕊𝕝𝕪𝕥𝕙𝕖𝕣𝕚𝕟</h1><p>
    <h6>𝔥𝔬𝔤𝔴𝔞𝔯𝔱𝔰 𝔰𝔠𝔥𝔬𝔬𝔩 𝔬𝔣 𝔴𝔦𝔱𝔠𝔥𝔠𝔯𝔞𝔣𝔱 𝔞𝔫𝔡 𝔴𝔦𝔷𝔞𝔯𝔡𝔯𝔶</h6>
    <p>𝙷𝚊𝚙𝚙𝚒𝚗𝚎𝚜𝚜 𝚌𝚊𝚗 𝚋𝚎 𝚏𝚘𝚞𝚗𝚍 𝚎𝚟𝚎𝚗 𝚊𝚝 𝚝𝚑𝚎 𝚍𝚊𝚛𝚔𝚎𝚜𝚝 𝚘𝚏 𝚝𝚒𝚖𝚎𝚜<br>
        𝚒𝚏 𝚘𝚗𝚎 𝚘𝚗𝚕𝚢 𝚛𝚎𝚖𝚎𝚖𝚋𝚎𝚛𝚜 𝚝𝚘 𝚝𝚞𝚛𝚗 𝚘𝚗 𝚝𝚑𝚎 𝚕𝚒𝚐𝚑𝚝..</p>
</center>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
